.eve-slide {
    width: 100% !important;
}

.header {
    background: whitesmoke !important;
}

.home-mentor {
    clip-path: polygon(100% 0, 100% 86%, 0 100%, 0 1%);
}

.home-mentee {
    clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0% 100%);
}

